@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
*::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Poppins";
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: icons;
  src: url(../fonts/icons.woff);
}
header {
  transition: all 0.5s ease;
  padding: 30px 0;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

header.scroll {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__body {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav a {
  transition: all 0.3s ease;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 24px;
}

.header__nav a:hover {
  color: #2dc997;
}

.header__burger {
  display: none;
  cursor: pointer;
  color: white;
}

.header__burger::before {
  font-family: icons;
  font-size: 28px;
  content: "\f479";
}

.header__title img {
  cursor: pointer;
  max-height: 100%;
}

@media (max-width: 1200px) {
  .header__body {
    width: 100%;
    padding: 0 10px;
  }
}
@media (max-width: 800px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
.first-screen {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.first-screen__img {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: url(../img/hero-bg.jpg) center center/cover no-repeat fixed;
}

.first-screen__main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  color: white;
}

.first-screen__title {
  font-size: 48px;
}

.first-screen__subtitle {
  font-size: 24px;
}

.first-screen__link a {
  transition: all 0.5s ease;
  color: white;
  padding: 8px 28px;
  border-radius: 50px;
  border: 3px solid white;
  text-decoration: none;
}
.first-screen__link a:hover {
  background-color: #2dc997;
  border: 3px solid #2dc997;
}

@media (max-width: 600px) {
  .first-screen__title {
    font-size: 30px;
  }
  .first-screen__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .first-screen__title {
    font-size: 24px;
  }
  .first-screen__subtitle {
    font-size: 14px;
  }
}
.burger {
  z-index: 5;
  display: none;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.burger__top {
  flex: 0 1 auto;
  height: 40px;
  display: flex;
  justify-content: right;
}

.burger__exit::before {
  text-align: right;
  flex: 1 0 auto;
  font-size: 40px;
  color: white;
  display: block;
  content: "\f62a";
}

.burger__exit {
  flex: 1 1 auto;
  font-family: "icons";
  display: block;
  width: 20px;
  height: 20px;
}

.burger__bottom {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1 1 auto;
  background-color: white;
}
.burger__bottom a {
  transition: all 0.5s ease;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #666666;
}
.burger__bottom a:hover {
  color: #2dc997;
}

.about {
  padding: 50px 0;
}

.about__body {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about__title {
  margin-bottom: 30px;
  color: #333333;
  font-size: 32px;
}

.about__subtitle {
  line-height: 26px;
  font-weight: 200;
  margin-bottom: 30px;
  color: #666666;
}

.about__right img {
  max-width: 100%;
}

.about__propertie {
  position: relative;
}

.propertie__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #2dc997;
  font-family: icons;
  position: absolute;
  width: 64px;
  height: 64px;
  border: 2px solid #2dc997;
  border-radius: 50%;
}

.icon1::before {
  content: "\f1cc";
}

.icon2::before {
  content: "\f224";
}

.icon3::before {
  content: "\f18f";
}

.about__properties {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.propertie__title {
  margin-left: 70px;
  color: #111111;
}

.propertie__subtitle {
  line-height: 20px;
  font-weight: 200;
  margin-left: 70px;
  font-size: 14px;
  color: #666666;
}

@media (max-width: 1200px) {
  .about__body {
    grid-template-columns: 1fr;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.facts {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #f7f7f7;
}

.facts__body {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 1200px;
  padding: 50px 0;
}

.facts__title {
  text-transform: uppercase;
  color: #111111;
  font-size: 30px;
  margin-bottom: 5px;
}

.facts__subtitle {
  font-family: "Open Sans";
  font-size: 15px;
  color: #999999;
  margin-bottom: 50px;
}

.facts__number {
  font-family: "Open Sans";
  font-size: 48px;
  color: #2dc997;
}

.facts__about {
  font-size: 14px;
  color: #666666;
}

.facts__properties {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1200px) {
  .facts__body {
    width: 100%;
    padding: 50px 10px;
  }
}
@media (max-width: 900px) {
  .facts__properties {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .facts__properties {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}
.services {
  padding: 80px 0;
}

.services__body {
  width: 1200px;
  margin: 0 auto;
}

.services__top {
  text-align: center;
  margin-bottom: 50px;
}

.services__title {
  color: #111111;
  font-size: 32px;
  margin-bottom: 5px;
}

.services__subtitle {
  color: #999999;
}

.services__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 20px;
}

.services__block {
  position: relative;
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  padding: 50px 20px;
}
.services__block:hover .block__icon {
  border: 3px solid #2dc997;
  background-color: white;
  color: #2dc997;
}

.block__title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.block__subtitle {
  line-height: 24px;
  text-align: center;
  font-size: 14px;
  color: #666666;
}

.block__icon {
  transition: all 0.3s ease;
  border: 3px solid transparent;
  background-color: #2dc997;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: calc(50% - 36px);
  top: -36px;
  position: absolute;
  width: 72px;
  height: 72px;
  font-family: "icons";
}
.block__icon::before {
  font-size: 24px;
}

.services__block:nth-child(1) .block__icon:before {
  content: "\f1cc";
}

.services__block:nth-child(2) .block__icon:before {
  content: "\f224";
}

.services__block:nth-child(3) .block__icon:before {
  content: "\f17e";
}

.services__block:nth-child(4) .block__icon:before {
  content: "\f18f";
}

.services__block:nth-child(5) .block__icon:before {
  content: "\f1d2";
}

.services__block:nth-child(6) .block__icon:before {
  content: "\f217";
}