.about {
    padding: 50px 0;
}

.about__body {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about__title {
    margin-bottom: 30px;
    color: #333333;
    font-size: 32px;
}

.about__subtitle {
    line-height: 26px;
    font-weight: 200;
    margin-bottom: 30px;
    color: #666666;
}

.about__right img {
    max-width: 100%;
}

.about__propertie {
    position: relative;
}

.propertie__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #2dc997;
    font-family: icons;
    position: absolute;
    width: 64px;
    height: 64px;
    border: 2px solid #2dc997;
    border-radius: 50%;
}

.icon1::before {
    content: '\f1cc';
}

.icon2::before {
    content: '\f224';
}

.icon3::before {
    content: '\f18f';
}

.about__properties {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.propertie__title {
    margin-left: 70px;
    color: #111111;
}

.propertie__subtitle {
    line-height: 20px;
    font-weight: 200;
    margin-left: 70px;
    font-size: 14px;
    color: #666666;
}

@media (max-width: 1200px) {
    .about__body {
        grid-template-columns: 1fr;
        width: 100vw;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 800px) {
    .about__properties {
        gap: 30px;
    }
}