.about__body {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__right img {
    max-width: 100%;
}