.action {
    background: url(../img/call-to-action-bg.jpg) center center / cover no-repeat fixed;
}

.action__bg {
    background: rgba(0, 0, 0, 0.5);
}

.action__body {
    padding: 80px 0;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.action__right {
    flex: 1 0 auto;
}

.action__title {
    font-size: 28px;
    color: white;
}

.action__subtitle {
    line-height: 24px;
    color: white;
}

.action__right a {
    transition: all 0.5s ease;
    color: white;
    padding: 8px 28px;
    border-radius: 50px;
    border: 3px solid white;
    text-decoration: none;

    &:hover {
        background-color: #2dc997;
        border: 3px solid #2dc997;
    }
}


@media (max-width: 1200px) {
    .action__body {
        width: 100%;
        padding: 80px 10px;
    }
}

@media (max-width: 900px) {
    .action__body {
        padding: 80px 20px;
        text-align: center;
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 230px) {
    .action__right a {
        font-size: 10px;
        padding: 4px 14px;
    }
}