*::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Poppins';
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}