.about {
    padding: 50px 0;
}

.about__body {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.about__title {
    position: relative;
    top: 50px;
    opacity: 0;
    transition: all 1s ease;
    margin-bottom: 30px;
    color: #333333;
    font-size: 32px;
}

.about__title.active {
    opacity: 1;
    top: 0;
}

.about__subtitle {
    position: relative;
    top: 50px;
    opacity: 0;
    transition: all 1s ease;
    line-height: 26px;
    font-weight: 200;
    margin-bottom: 30px;
    color: #666666;
}

.about__subtitle.active {
    opacity: 1;
    top: 0;
}

.about__right img {
    height: 100%;
}

.about__right {
    opacity: 0;
    transition: all 1s ease;
    position: relative;
    left: 100px;
    top: 50px;
}

.about__right.active {
    left: 0;
    opacity: 1;
    top: 0;
}

.about__propertie {
    opacity: 0;
    top: 50px;
    position: relative;
}

.about__propertie:nth-child(1) {
    transition: all 0.5s ease 0.3s;
}

.about__propertie:nth-child(2) {
    transition: all 0.5s ease 0.6s;
}

.about__propertie:nth-child(3) {
    transition: all 0.5s ease 0.9s;
}

.about__propertie.active {
    opacity: 1;
    top: 0;
}


.propertie__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #2dc997;
    font-family: icons;
    position: absolute;
    width: 64px;
    height: 64px;
    border: 2px solid #2dc997;
    border-radius: 50%;
}

.icon1::before {
    content: '\f1cc';
}

.icon2::before {
    content: '\f224';
}

.icon3::before {
    content: '\f18f';
}

.about__properties {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.propertie__title {
    margin-left: 70px;
    color: #111111;
}

.propertie__subtitle {
    line-height: 20px;
    font-weight: 200;
    margin-left: 70px;
    font-size: 14px;
    color: #666666;
}

@media (max-width: 1200px) {
    .about__right {
        left: 0;
        top: 200px;
    }

    .about__properties {
        gap: 30px;
    }

    .about__body {
        gap: 50px;
        flex-direction: column-reverse;
        width: 100vw;
        padding-left: 30px;
        padding-right: 30px;
    }

    .about__right img {
        width: 100%;
        height: auto;
    }
}