.contact {
    background-color: #f7f7f7;
}

.contact__body {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.contact__title {
    font-weight: bold;
    color: #111111;
    font-size: 32px;
    margin-bottom: 5px;
}

.contact__subtitle {
    color: #999999;
}

.contact__bottom {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contact__form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 15px;
}

.contact__form input,
.contact__form textarea {
    transition: all 0.3s ease;
    padding: 8px 15px;
    color: #212529;
    border: 0;
    outline: 1px solid #ced4da;

    &:focus {
        outline: 1px solid #0055ff;
    }
}

.contact__form textarea {
    min-height: 50px;
    height: 100px;
    resize: vertical;
}

.contact__form button {
    transition: all 0.5s ease;
    margin: 0 auto;
    width: max-content;
    word-wrap: normal;
    padding: 10px 24px;
    border: none;
    background-color: #2dc997;
    color: white;
    font-size: 15px;
    border: 3px solid transparent;
    cursor: pointer;

    &:hover {
        border-radius: 20px;
        background-color: white;
        color: #2dc997;
        border: 3px solid #2dc997;
    }
}

.contact__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;

    .contact__text {
        font-size: 14px;
        display: flex;
        align-items: center;
        color: #333333;
        padding-left: 20px;

        &::before {
            font-family: icons;
            font-size: 30px;
            color: #2dc997;
            position: relative;
            left: -20px;
        }

        &:nth-child(1)::before {
            content: "\f3e8";
        }

        &:nth-child(2)::before {
            content: "\f32f";
        }

        &:nth-child(3)::before {
            content: "\f4e7";
        }
    }

    .contact__links {
        display: flex;
        gap: 5px;
    }

    .contact__links div {
        cursor: pointer;
        transition: all 0.5s ease;
        font-size: 20px;
        padding: 9px;
        border-radius: 50%;
        color: white;
        background-color: #333333;
        font-family: icons;

        &:hover {
            background-color: #2dc997;
        }
    }
}


@media (max-width: 1200px) {
    .contact__body {
        width: 100%;
        padding: 0 10px;
    }
}


@media (max-width: 700px) {
    .contact__bottom {
        text-align: center;
        flex-direction: column;

        * {
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }

    .contact__form {
        width: 100%;
        margin: 0 auto;
    }
}