.team {
    background-color: #fff;
}

.team__body {
    padding: 70px 0;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.team__title {
    font-weight: bold;
    transition: all 1s ease;
    position: relative;
    top: 50px;
    opacity: 0;
    font-size: 32px;
    margin-bottom: 5px;
}

.team__subtitle {
    transition: all 1s ease;
    position: relative;
    top: 50px;
    opacity: 0;
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    margin-bottom: 50px;
}

.team__title.active,
.team__subtitle.active {
    top: 0;
    opacity: 1;
}

.team__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.team__man {
    transition: all 1s ease;
    opacity: 0;
    top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.team__man.active {
    opacity: 1;
    top: 0;
}

.team__man img {
    width: 100%;
}

.team__name {
    color: #666666;
    font-size: 18px;
    margin-bottom: 5px;
}

.team__info {
    background: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.team__work {
    color: #666666;
    font-size: 13px;
    margin-bottom: 10px;
}

.team__social {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
}

.team__social>span {
    cursor: pointer;
    transition: all 0.3s ease;
    color: #666666;
    font-family: icons;

    &:hover {
        color: #2dc997;
    }
}

.twitter:before {
    content: "\f5ef";
}

.facebook:before {
    content: "\f344";
}

.instagramm:before {
    content: "\f437";
}

.linkedin:before {
    content: "\f472";
}


@media (max-width: 1200px) {
    .team__body {
        width: 100%;
        padding: 50px 10px;
    }
}

@media (max-width: 1000px) {
    .team__body {
        width: 700px;
    }

    .team__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .team__body {
        width: 400px;
    }

    .team__list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px) {
    .team__body {
        width: 100%;
    }

    .team__info {
        position: static;
    }
}